<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div
    class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    <div class="page-wrapper">
      <!-- start header -->
      <app-page-header></app-page-header>
      <!-- end header -->
      <!-- start color quick setting -->
      <div class="quick-setting-main">
        <button class="control-sidebar-btn btn" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i></button>
        <div class="quick-setting display-none">
          <ul id="themecolors">
            <li>
              <p class="selector-title">Main Layouts</p>
            </li>
            <li class="complete">
              <div class="theme-color layout-theme">
                <a href="#" data-theme="light"><span class="head"></span><span class="cont"></span></a>
                <a href="../dark/index.html" data-theme="dark"><span class="head"></span><span class="cont"></span></a>
              </div>
            </li>
            <li>
              <p class="selector-title">Sidebar Color</p>
            </li>
            <li class="complete">
              <div class="theme-color sidebar-theme">
                <a href="#" data-theme="white"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="dark"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="blue"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="indigo"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="cyan"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="green"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="red"><span class="head"></span><span class="cont"></span></a>
              </div>
            </li>
            <li>
              <p class="selector-title">Header Brand color</p>
            </li>
            <li class="theme-option">
              <div class="theme-color logo-theme">
                <a href="#" data-theme="logo-white"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="logo-dark"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="logo-blue"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="logo-indigo"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="logo-cyan"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="logo-green"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="logo-red"><span class="head"></span><span class="cont"></span></a>
              </div>
            </li>
            <li>
              <p class="selector-title">Header color</p>
            </li>
            <li class="theme-option">
              <div class="theme-color header-theme">
                <a href="#" data-theme="header-white"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="header-dark"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="header-blue"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="header-indigo"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="header-cyan"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="header-green"><span class="head"></span><span class="cont"></span></a>
                <a href="#" data-theme="header-red"><span class="head"></span><span class="cont"></span></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- end color quick setting -->
      <!-- start page container -->
      <div class="page-container">
        <!-- start sidebar menu -->
        <div class="sidebar-container">
          <div class="sidemenu-container navbar-collapse collapse fixed-menu">
            <app-left-sidemenu></app-left-sidemenu>
          </div>
        </div>
        <!-- end sidebar menu -->
        <!-- start page content -->
        <div class="page-content-wrapper">
          <div class="page-content">
            <div class="page-bar">
              <div class="page-title-breadcrumb">
                <div class=" pull-left">
                  <div class="page-title">Dashboard</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                  <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i
                      class="fa fa-angle-right"></i>
                  </li>
                  <li class="active">Dashboard</li>
                </ol>
              </div>
            </div>
            <!-- routing outlet -->
            <router-outlet></router-outlet>
            <!-- end routing outlet -->
          </div>
        </div>
        <!-- end page content -->
        <!-- start chat sidebar -->
        <app-chat-sidebar-container></app-chat-sidebar-container>
        <!-- end chat sidebar -->
      </div>
      <!-- end page container -->
      <!-- start footer -->
      <app-footer></app-footer>
      <!-- end footer -->
    </div>
    <div>
    </div>