<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-box">
          <div class="card-head">
            <header>All Students List</header>
            <div class="tools">
              <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
              <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
              <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
            </div>
          </div>
          <div class="card-body ">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <div class="btn-group">
                  <a [routerLink]="['/students', 'add']" id="addRow" class="btn btn-info">
                    Add New <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-6">
                <div class="btn-group pull-right">
                  <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-print"></i> Print </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-pdf-o"></i> Save as
                        PDF </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="table-scrollable">
              <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                id="example4">
                <thead>
                  <tr>
                    <th></th>
                    <th> Roll No </th>
                    <th> Name </th>
                    <th> Department </th>
                    <th> Mobile </th>
                    <th> Email </th>
                    <th>Admission Date</th>
                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let std of studentList$ | async" class="odd gradeX">
                    <td class="patient-img">
                      <img src="../assets/img/std/std1.jpg" alt="">
                    </td>
                    <td class="left">18</td>
                    <td>{{ std.firstName + ' ' + std.lastName }}</td>
                    <td class="left">{{ std.departmentName }}</td>
                    <td><a href="tel:4444565756">
                        {{ std.mobile }} </a></td>
                    <td><a href="mailto:shuxer@gmail.com">
                        {{ std.email }} </a></td>
                    <td class="left">{{ std.admissionDate }}</td>
                    <td>
                      <a [routerLink]="['/students', std.id, 'edit']" class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil"></i>
                      </a>
                      <button class="btn btn-danger btn-xs">
                        <i class="fa fa-trash-o "></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="errorMessage$ | async as errorMessage">
      Error: {{ errorMessage}}
    </div>
  </div>
</div>